<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IMEXApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="IMEXDB"/>
  <connectionStrings>
	  <add name="IMEXDB" connectionString="Data Source=10.8.18.12;Initial Catalog=INTRANET;Persist Security Info=True;User ID=sa;Password=56E403CD-AF87-4CF5-91AC-6C2AF6CCDAF2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
	  <add key="CmdTimeout" value="0"/>
	  <add key="MultiThread" value="5"/>
	  <add key="FolderBK" value="E:\ftpdata\dlBK\"/>
  </appSettings>
  <applicationSettings>
    <IMEXApp.Properties.Settings>
      <setting name="IMEXApp_FileService_Attachment" serializeAs="String">
        <value>http://ws.dkshvn.com/Attachment.asmx</value>
      </setting>
    </IMEXApp.Properties.Settings>
  </applicationSettings>
</configuration>